@import "../Variables/Variables.scss";

.cardContainer {
     margin-top: -4em;

     .card {
          display: inline-block;
          @include borderStyling(1px, transparent);
          color: $tertiaryColor;
          background-color: $bgColor;
          overflow: hidden;
          transition: 0.5s ease-in-out;

          span {
               color: $subColor;
          }

          &:hover {
               transform: translateY(-1.5em);
          }
     }

     .card-body {
          position: relative;

          &* {
               z-index: 1;
          }

          div {
               display: flex;
               flex-wrap: wrap;
               align-items: center;
               justify-content: center;
               padding: 1em 0;
               img {
                    width: 100px;
               }
          }
     }

     .cardImg {
          @include calcDimension(5rem, 5rem);
          position: absolute;
          top: 1em;
          left: 3em;
          color: #d5eeff38;
          z-index: 0;
     }
}
