@import "../Variables/Variables.scss";

.homeDivContainer {
     position: relative;
     display: grid;
     place-items: center;
     padding: 0 !important;
     top: -2em;
     height: 20vh;
     overflow: hidden;

     :nth-child(1) {
          @include calcDimension(50vw, 50vh);
          position: absolute;
     }
     div:nth-child(2) {
          @include calcDimension(40vw, 10vh);
          position: absolute;
          top: 5em;
          background-color: #00d9ff8a;
          box-shadow: 0 0 25px 1px #00d9ff96;
          border-radius: 50%;

          &::after {
               @include calcDimension(50vw, 0px);
               position: inherit;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
               margin-top: 2px;
               display: block;
               content: "";
               background-color: black;
               border-radius: 50%;
          }
     }
}

.carouselContainer {
     position: relative;
     margin-bottom: -6em;
     z-index: 5;
     display: flex;
     align-items: center;
     justify-content: center;
     visibility: visible;

     .alice-carousel {
          width: 70vw;
          margin: 0;
     }
     div {
          display: grid;
          place-items: center;

          .items {
               height: 100px;
               width: 100px;
               font-size: 3em;
               color: $tertiaryColor;
          }
     }

     @media (min-width: 992px) {
          visibility: hidden;
     }
}

.techContainer,
.toolsContainer {
     position: relative;
     display: flex;
     justify-content: center;
     margin-top: 3em;
     padding: 2em;
     flex-wrap: wrap;
     font-size: x-large;

     .toolsAndTech {
          padding: 0 1em;
          color: $tertiaryColor;

          &:not(:last-child) {
               border-right: 1px solid $secondaryColor;
          }
     }

     &::after {
          position: absolute;
          content: "Technologies";
          display: block;
          color: $subColor;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          text-align: center;
          font-size: x-large;
          font-weight: bold;
     }
}

.toolsContainer {
     &::after {
          content: "Tools";
     }
}
