@import "../Variables/Variables.scss";

.containerParticles {
     display: flex;
     justify-content: center;
     position: relative;
     height: 70vh;
     overflow: hidden;

     @media (max-width: 768px) {
          height: 100vh;
     }
     @media (max-width: 576px) {
          height: 80vh;
     }

     #tsparticles {
          @include calcDimension(0em, 0em);
     }

     .heroPageContainer {
          @include calcDimension(0em, 0em);
          position: absolute;
          z-index: 1;
          display: flex;
          justify-content: space-evenly;
          align-items: center;

          .imgContainer {
               position: relative;
               display: flex;
               justify-content: center;
               left: 2em;
               max-width: 40em;
               min-width: 20em;
               overflow: hidden;

               .myImg {
                    position: relative;
                    object-fit: cover;
                    width: calc(100%);
                    filter: drop-shadow(0px 0px 20px $secondaryColor) grayscale(30%);
               }

               &::after {
                    position: absolute;
                    @include calcDimension(0em, 0em);
                    display: block;
                    content: "";
                    top: 0;
                    left: -1em;
                    border-radius: 5% / 80%;
                    background: linear-gradient(to top, black, transparent, transparent, transparent, transparent);

                    @media (max-width: 576px) and (min-width: 576px) {
                         width: 22em;
                    }
               }
          }

          .heroContentContainer {
               color: $tertiaryColor;

               h1{
                    font-size: 3em;
               }

               button {
                    @include projBtn;
                    display: inline-block;
                    background-color: transparent !important;
                    color: $tertiaryColor !important;
               }

               @media (max-width: 768px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
               }
          }
     }

}

.homeDivContainer {
     position: relative;
     display: grid;
     place-items: center;
     padding: 0 !important;
     top: -2em;
     height: 20vh;
     overflow: hidden;

     :nth-child(1) {
          @include calcDimension(50vw, 50vh);
          position: absolute;
     }
     div:nth-child(2) {
          @include calcDimension(40vw, 10vh);
          position: absolute;
          top: 5em;
          background-color: #00d9ff8a;
          box-shadow: 0 0 25px 1px #00d9ff96;
          border-radius: 50%;

          &::after {
               @include calcDimension(50vw, 0px);
               position: inherit;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
               margin-top: 2px;
               display: block;
               content: "";
               background-color: black;
               border-radius: 50%;
          }
     }
}

.cardContainer {
     margin-top: -4em;

     .card {
          display: inline-block;
          @include borderStyling(1px, transparent);
          color: $tertiaryColor;
          background-color: $bgColor;
          // height: 25em;
          overflow: hidden;

          span {
               color: $subColor;
          }
     }

     .card-body {
          position: relative;

          &* {
               z-index: 1;
          }

          div {
               display: flex;
               flex-wrap: wrap;
               align-items: center;
               justify-content: center;
               padding: 1em 0;
               img {
                    width: 100px;
               }
          }
     }

     .cardImg {
          @include calcDimension(5rem, 5rem);
          position: absolute;
          top: 1em;
          left: 3em;
          color: #d5eeff38;
          z-index: 0;
     }
}

.carouselContainer {
     position: relative;
     margin-bottom: -6em;
     z-index: 5;
     display: flex;
     align-items: center;
     justify-content: center;
     visibility: visible;

     .alice-carousel {
          width: 70vw;
          margin: 0;
     }
     div {
          display: grid;
          place-items: center;

          .items {
               height: 100px;
               width: 100px;
               font-size: 3em;
               color: $tertiaryColor;
          }
     }

     @media (min-width: 992px) {
          visibility: hidden;
     }
}

.techContainer,
.toolsContainer {
     position: relative;
     display: flex;
     justify-content: center;
     margin-top: 3em;
     padding: 2em;
     flex-wrap: wrap;
     font-size: x-large;

     .toolsAndTech {
          padding: 0 1em;
          color: $tertiaryColor;

          &:not(:last-child) {
               border-right: 1px solid $secondaryColor;
          }
     }

     &::after {
          position: absolute;
          content: "Technologies";
          display: block;
          color: $subColor;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          text-align: center;
          font-size: x-large;
          font-weight: bold;
     }
}

.toolsContainer {
     &::after {
          content: "Tools";
     }
}
.projTitleContainer {
     color: $tertiaryColor;
     padding: 0em 20em;
     font-size: 1.2rem !important;

     h1 {
          margin-top: 2em;
          font-size: 3em;
     }
     @media (max-width: 992px) {
          padding: 0 5em;
     }
}
.projContainer {
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 17em;
     color: $tertiaryColor;
     padding: 3em 0;
     font-size: 1.5rem;

     h1 {
          color: $subColor;
     }

     .detailsContainer {
          padding: 2em;

          h2,
          p,
          a {
               margin: 0;
          }

          h2 {
               font-size: 2em;
          }
          a {
               text-decoration-line: underline;
               text-decoration-color: $primaryColor;
               font-size: small;
               color: $primaryColor;

               &:hover {
                    color: $secondaryColor;
                    text-decoration-color: $secondaryColor;
               }
          }
          p {
               margin-top: 1.5em;
          }
     }

     .imgContainer {
          height: 100%;
          display: flex;
          align-items: center;
     }
     .projImg {
          max-width: 100%;
          max-height: 100%;
          object-fit: fill;
          filter: drop-shadow(0 0 0.8rem $secondaryColor);
     }
     .btnMoreProj {
          @include projBtn;
     }
}
.modal-dialog {
     width: 80vw;

     .modal-content {
          background: transparent;
          filter: drop-shadow(0 0 0.8rem $secondaryColor);

          .btnMoreProjCloseModal {
               @include projBtn;
          }
     }

     a {
          font-size: small;
          color: $subColor;
     }
}

.modalImg {
     @include calcDimension(50vh, 0px);
     filter: brightness(50%);
}

footer {
     background: $bgColor;
     color: $tertiaryColor;
     overflow: hidden;
     font-size: clamp(0.5rem, 2.5vw, 1rem);

     .footerContainer1 {
          position: relative;
          display: flex;
          padding-top: 5em;

          div {
               display: flex;
               justify-content: center;
               flex: 1;

               ul > li {
                    margin: 1em;
               }
          }

          .footerImg {
               position: absolute;
               margin-right: 2em;
               @include calcDimension(10em, 10em);
               font-size: 100%;
               color: #d5eeff38;
          }
     }

     .socials {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 10vh;

          ul {
               margin: 0;
               li {
                    display: flex;
                    align-items: center;
                    padding: 0 1.5em;

                    a {
                         color: $tertiaryColor;
                    }
               }
          }

          span {
               padding: 0 1em;
               border-left: 1px solid $tertiaryColor;
          }
     }
}
