@import "../Variables/Variables.scss";

.Navbar {
     position: sticky !important;
     top: 0 !important;
     z-index: 10 !important;
     border-bottom: 1px solid rgba(66, 66, 66, 0.493);
     transition: background-color 0.5s ease-in-out;
     color: $tertiaryColor;

     .nav-link {
          color: $tertiaryColor;
          --bs-navbar-active-color: $tertiaryColor;
     }

     button {
          color: $subColor;
          @include borderStyling(0px, $primaryColor);
     }

     button:focus {
          @include borderStyling(1px, $subColor);
     }
}

.navbar-brand {
     color: $tertiaryColor !important;

     &:hover {
          color: $tertiaryColor !important;
     }

     span {
          color: $subColor;
     }
}

.navbar-nav {
     :nth-child(1) {
          color: $secondaryColor;
          font-weight: 600;
     }

     a {
          transition: 0.4s ease-in-out;

          &:hover {
               color: $subColor !important;
          }
     }
}

.showNav {
     background-color: $bgColor;
}
